.chat-main
  .chat-main__group-info
    .chat-main__group-info__contents
      .chat-main__group-info__contents--current-group
        %p= @group.name
      .chat-main__group-info__contents--member-list
        %ul.chat-main__group-info__contents--member-list--member-name Member:
        - @group.users.each do |user|
          %li.chat-main__group-info__contents--member-list--member-name= user.name
    = link_to 'Edit', edit_group_path(@group.id), class: "chat-main__group-info__edit-btn" 

  .chat-main__message-list
    = render @messages

  .chat-main__message-form
    .new_message__message
      =form_for [@group, @message] do |f|
        = f.text_field :content, class: "new_message__message--input-text", placeholder: "type a message"
        .new_message__message--form-mask
          = f.label :image, class: "new_message__message--input-image" do
            %i.far.fa-image
            = f.file_field :image, class: "new_message__message--input-image-file"
        = f.submit "Send", class: "new_message--submit-btn"