.side-bar
  .side-bar__user-name
    .side-bar__user-name__top-items
      .side-bar__user-name__top-items--name
        = current_user.name
      %ul.side-bar__user-name__top-items--icons
        %li.side-bar__user-name__top-items--edit-user
        = link_to new_group_path do
          %i.far.fa-edit
        %li.side-bar__user-name__top-items--new-group
        = link_to edit_user_path(current_user) do
          %i.fa.fa-cog
  .side-bar__group-list
    - current_user.groups.each do |group|
      .side-bar__group-list__contents
        =link_to group_messages_path(group), class: "side-bar__group-list__contents--info" do
          .side-bar__group-list__contents--group-name
            = group.name
          .side-bar__group-list__contents--message
            = group.show_last_message